@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body{
  font-family: Open Sans;

}

.profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 75%;
    margin: 0 auto;
    border: 4px solid #e2687e;
    border-radius: 30px;
    background-color: #fff;
    overflow: auto;
 
}
.work{
    width: 180px;

    background-color: #e2687e;
   
    z-index: 1000000;
    border-radius: 30px;
    text-align: center;
    padding:10px;
    
}


.profile_background {
    width: 100%;
    height: 500px;

    
    background-image: url("../img/Project\ \(8\).jpg");

}



.profile_details {
    width: 90%;
    height: 550px;

    background-color: #f9f5f4;
    border-radius: 18px;
    padding: 60px;
    margin-top: -430px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile_summary{
    margin-top: 40px;
    width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.summary{
    width: 70%;
    
   
}

.summary ul{
    margin-bottom: 15px;
}
.summary p{
    margin-bottom: 10px;

}
.profile_summary ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding-left: 0;
}
.profile_summary h2{
    font-size: 34px;
}
.profile_summary a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.profile_icons i {
    font-family: "Font Awesome 6 Brands"; 
    font-style: normal;
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.fa-location-dot{
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    display: inline-block;
    width: 20px;

}
.profile_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
}



#profile_pic{
    width: 170px;
    border-radius: 50%;
}
.role_experience{
    display: flex;
    width: 40%;
    justify-content: space-between;
   
}
#role_{
    font-size: 14px;
    margin-bottom: 0;
}

#experience_{
    font-size: 14px;
    margin-bottom: 0;

}
.profile_info{
    width: 70%;
}
#name{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#role_type{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#experience_years{
    font-size: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.superpower_skills p{
    font-size: 14px;
}

.powers{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.powers li{
    list-style-type: none;
    padding: 10px;
    margin-right: 10px;
    background-color: #e5e4e4;
    border-radius: 10px;
}

.summary ul li a{
    color: gray;
}

.summary ul li a:hover,
.summary ul li a.active {
    color: #e2687e;
    font-weight: bold;
}

.content p{
    margin-bottom: 5px;
}
#title{
   color: #e2687e;
}

.profile_icons i:hover{
    border-color: #e2687e;
    background-color: #e2687e;
    color: white;

}

.fa-square-check{
    color:black;
    margin-right: 10px;
}

#edit_profile{

    position: absolute;
    top: 170px;
    right: 270px;
    cursor: pointer;
}