@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;

}

.container {
    width: 400px;
    max-width: 100%;
    height: 500px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scroll-form {
    display: flex;
    flex-direction: column;
    height: 200%;
}

.form-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    scroll-snap-align: start;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 10px 0;
    width: 90%;
    border-radius: 5px;
}

button {
    background-color: pink;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #d2556d;
}