@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* {
	box-sizing: border-box;
}


.cards {
	background: #fefefe;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 700px;
	position: relative;
	display: flex;
	align-items: flex-end;
	padding: 30px;
}

.card {
	display: inline-block;
	margin-right: 20px;
}

.card-toggle {
	z-index: 4;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s ease;
    color: #e2687e;
   
}
/*icona e nany vendoset 20px left prej divit*/
.card-toggle:nth-child(1) {
    left: 20px;
}

/*per me vendos qat iconen e userit(qe osht second child) pak ma anash asaj te nanny */
.card-toggle:nth-child(2) {
    left: 78px; 
}
	

.card-toggle.active {
	color: white;
	border-color: white;
}

.card-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: -webkit-clip-path 1s ease;

	overflow: hidden;
	border-radius: 5px;
}



.card.active .col {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

#overview .card-toggle {
	position: absolute;
	top: 30px;
	right: 30px;
	opacity: 1;
	color: white;
}

#overview .card-content {
	background-color: #efefef;
	-webkit-clip-path: circle(0% at 91.5% 75px);
}

#overview.active .card-toggle {
	opacity: 0;
}

#overview.active .card-content {
	-webkit-clip-path: circle(270% at 91.5% 75px);
}

#nanny .card-content,
#parent .card-content{
	color: white;
}

#nanny .card-content {
	background-image: url("../img/cuteroom.png");
    background-size: cover;
    background-position: center;
   
	-webkit-clip-path: circle(0% at 76px 88%);
	clip-path: circle(0% at 50px 88%);
}

#nanny.active .card-content {
	-webkit-clip-path: circle(270% at 76px 88%);
	clip-path: circle(270% at 50px 88%);
}

#parent .card-content {
	background-image: url("../img/another_room1.png");
	background-size: cover;
    background-position: center;

	-webkit-clip-path: circle(0% at 150px 88%);
	clip-path: circle(0% at 150px 88%);
}

#parent.active .card-content {
	-webkit-clip-path: circle(270% at 150px 88%);
	clip-path: circle(270% at 150px 88%);
}
.text{
	color: white;
	/*width: 400px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-self: center;
	justify-self: center;
	
  
	padding:1rem;
   
	height: 100%;
	
 }
 
 p{
	 font-size: 1.5rem;
	 margin: 0;
	 /*margin-bottom: 0.5rem;*/
 }
 
 h1 {
	 font-size: 3.5rem;
	 /*margin-bottom: 1rem;*/
 }
 
 .buttons {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 gap: 0.9rem;
	 margin-top: 1.5rem;
 }
 
 .btn {
	 padding: 0.8rem 1.5rem;
	 border: none;
	 border-radius: 25px;
	 font-size: 1rem;
	 cursor: pointer;
 }
 
 .btn_login:hover{
	 background-color: white ;
	 color:gray;
	 transform: scale(1.1);
 }
 .btn_signup:hover{
	 background-color:#e2687e ;
	 color: white;
	 transform: scale(1.1);
 }
 
 .btn_login {
	 background-color: rgba(255, 255, 255, 0.2);
	 color: white;
 }
 
 .btn_signup {
	 background-color: white; 
	 color:#e2687e;
 }
 
